doc/UGC-LOVABLE.json
{
  "name": "UGC-CEEATOR",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ugc",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        352
      ],
      "id": "bc172304-23df-4746-8daa-02546009b765",
      "name": "Webhook",
      "webhookId": "dbbfd090-bdd8-4210-a7bd-d87e5965206d"
    },
    {
      "parameters": {
        "inputDataFieldName": "image",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1b_-q79yp7m6L_g3pEqb3c-ofg-rN9GZw",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        176,
        352
      ],
      "id": "a181b241-62cb-4696-bc0e-d9437131f5ad",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z8twemUhaCcf6Tpe",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=> **Função:** você é uma IA especializada em análise visual para criação de vídeos UGC.\n>\n> O usuário enviará uma **imagem**.\n>\n> Sua tarefa é **descrever detalhadamente** o que aparece na imagem, incluindo:\n>\n> * ambiente (ex: interno, externo, luz natural, decoração, fundo)\n> * pessoa(s) (gênero, idade aproximada, expressão, roupas, estilo)\n> * elementos visuais (produto em destaque, cores, composição, contexto)\n> * emoções ou sensações transmitidas (ex: felicidade, conforto, confiança, rotina, luxo etc.)\n>\n> Retorne a resposta em formato **JSON** com as seguintes chaves:\n>\n> ```json\n> {\n>   \"ambiente\": \"\",\n>   \"pessoa\": \"\",\n>   \"elementos_visuais\": \"\",\n>   \"emocao_transmitida\": \"\",\n>   \"estilo_geral\": \"\"\n> }\n> ```\n>\n> Seja **objetivo, descritivo e realista** — esse resultado servirá como base para outra IA gerar o roteiro de vídeo.",
        "imageUrls": "={{ $json.webContentLink }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1152,
        96
      ],
      "id": "8683b533-dc82-45a6-bfd2-cca9a5d91929",
      "name": "Analyze image1",
      "credentials": {
        "openAiApi": {
          "id": "dCsIDFLPjcFaVqWu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nome do produto: {{ $('Webhook').item.json.body.productName }}\n\nDescrição: {{ $json['0'].content[0].text }}",
        "options": {
          "systemMessage": "=> **Função:** você é uma IA especialista em roteiros de vídeos UGC para anúncios.\n>\n> O usuário informará:\n>\n> * a **descrição da imagem** (gerada pelo Prompt 1)\n> * o **nome do produto** (ex: “Copo Stanley”, “Base de maquiagem”, “Tênis esportivo”)\n>\n> Sua tarefa é **criar um roteiro completo de vídeo UGC** com base nessas informações.\n>\n> O vídeo deve:\n>\n> * parecer **natural e autêntico**, como um story do TikTok ou Reels;\n> * ter entre **20 e 30 segundos**;\n> * conter **introdução (gancho)**, **parte emocional (benefício real)** e **call to action**;\n> * incluir **emoções, expressões e falas espontâneas**;\n> * usar um tom **conversacional** e **próximo** do público;\n> * sugerir **movimentos de câmera e cortes** quando relevante.\n>\n> **Formato de saída sugerido:**\n>\n> ```markdown\n> 🎥 Título:  \n> [um título curto e atrativo]\n>\n> 🗣️ Script:  \n> [roteiro completo com falas e ações do personagem]\n>\n> 🎞️ Sugestões de cena:  \n> - [detalhes visuais ou transições]\n>\n> 🎯 Call to Action:  \n> [frase final que incentiva o público a agir]\n> ```\n>\n> Foque em gerar **UGCs envolventes, reais e que vendem pela emoção e identificação**.\n\n💡 Dicas:\n\nSempre escape aspas internas se o JSON for montado dinamicamente (\\\" dentro de strings).\n\nEvite emojis, listas, e markdown.\n\nO texto precisa estar em um único campo “prompt” — sem quebras nem seções (como 🎥, 🎞️, 🎯).\n\nPode deixar natural e descritivo, mas direto, como se fosse um storyboard falado."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        704,
        288
      ],
      "id": "f9d193a4-fbf6-44e5-a452-6fe11eeed238",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5ef4111ba834ec5698c01894947c3337"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sora-2-image-to-video\",\n  \"callBackUrl\": \"https://your-domain.com/api/callback\",\n  \"input\": {\n    \"prompt\": \"{{ $json.output.replaceAll('\\n','').replaceAll('\"','') }}\",\n    \"image_urls\": [\n      \"{{ $('Upload file1').item.json.webContentLink }}\"\n    ],\n    \"aspect_ratio\": \"portrait\",\n    \"n_frames\": \"10\",\n    \"remove_watermark\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -128,
        736
      ],
      "id": "1f940f26-08ed-4af5-8cd7-ab5e87bec2fc",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 50
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        128,
        736
      ],
      "id": "45677b9d-9495-42a8-a698-e9b278e99e27",
      "name": "Wait",
      "webhookId": "f2b6046c-fd37-4dbd-b910-f7105e1aba75"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5ef4111ba834ec5698c01894947c3337"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        352,
        688
      ],
      "id": "0601d003-f4ff-4e4b-b536-9d3d9aa59c12",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3e334408-1588-4b24-9749-90e8a3a57d53",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        736
      ],
      "id": "8127db7c-a9a5-43e0-8005-1d5ab7eb9e2f",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"video\": \"{{ JSON.parse($json.data.resultJson).resultUrls[0] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        816,
        720
      ],
      "id": "191c1461-76a1-4212-a85e-8a69662b05f0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## Recebe detalhes",
        "height": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        240
      ],
      "typeVersion": 1,
      "id": "9d79afe8-f464-4efb-83d8-6909b24f88c7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Upload",
        "height": 272,
        "width": 288,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        240
      ],
      "typeVersion": 1,
      "id": "c4b6186d-0206-4936-9fbd-671fecd361fb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Analisar IMG",
        "height": 272,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        240
      ],
      "typeVersion": 1,
      "id": "d0c771a6-0fe4-4e7f-90f4-f82215e590d2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Script Video",
        "height": 336,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        240
      ],
      "typeVersion": 1,
      "id": "5d7309e0-abad-4230-a8e0-886a2adc6b1d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Gerar Video",
        "height": 400,
        "width": 208,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        592
      ],
      "typeVersion": 1,
      "id": "8f230f00-7158-43ae-8f14-d52d106d4aee",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Verificar Status",
        "height": 400,
        "width": 672,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        592
      ],
      "typeVersion": 1,
      "id": "f81a8524-9429-48c9-8c31-aa2a44c9adf4",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Retorna Lovable",
        "height": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        592
      ],
      "typeVersion": 1,
      "id": "75d59564-6f9e-46d9-b884-70620ff72dfa",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        448
      ],
      "id": "da9e9cfd-12a8-4085-ad38-1808dbc024ba",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ikgyALJz7GvOLlzA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=> **Função:** você é uma IA especializada em análise visual para criação de vídeos UGC.\n>\n> O usuário enviará uma **imagem**.\n>\n> Sua tarefa é **descrever detalhadamente** o que aparece na imagem, incluindo:\n>\n> * ambiente (ex: interno, externo, luz natural, decoração, fundo)\n> * pessoa(s) (gênero, idade aproximada, expressão, roupas, estilo)\n> * elementos visuais (produto em destaque, cores, composição, contexto)\n> * emoções ou sensações transmitidas (ex: felicidade, conforto, confiança, rotina, luxo etc.)\n>\n> Retorne a resposta em formato **JSON** com as seguintes chaves:\n>\n> ```json\n> {\n>   \"ambiente\": \"\",\n>   \"pessoa\": \"\",\n>   \"elementos_visuais\": \"\",\n>   \"emocao_transmitida\": \"\",\n>   \"estilo_geral\": \"\"\n> }\n> ```\n>\n> Seja **objetivo, descritivo e realista** — esse resultado servirá como base para outra IA gerar o roteiro de vídeo.",
        "imageUrls": "={{ $json.webContentLink }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        448,
        352
      ],
      "id": "f97f51ae-cb3d-46b6-bb09-a2b6e02fd7bf",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "ikgyALJz7GvOLlzA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image1": {
      "main": [
        []
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f80c07f8-1c1c-49d4-a529-f6a649efe60c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0cf359cabce09afafa20201066bd46f5c065ec8fb8e30b3d173e311eaeaa8b69"
  },
  "id": "TdDeqnANlDIQ3cqB",
  "tags": [
    {
      "updatedAt": "2025-12-20T17:48:24.498Z",
      "createdAt": "2025-12-20T17:48:24.498Z",
      "id": "yWAYHh91Ed6vQFgW",
      "name": "Ronaldo"
    }
  ]
}